@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('./imgs/img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  
}
.bg-gran {
  background: rgb(150, 243, 255, 0.8);
  background: linear-gradient(353deg, rgb(109, 129, 194) 0%, rgba(150, 243, 255, 0.8) 47%, rgba(253, 207, 142, 0.982) 86%);
}
.bg-side {
  background:rgb(109, 129, 194);
  background: linear-gradient(353deg, rgb(109, 129, 194) 22%, rgba(0, 114, 180, 0.9) 47%);
}
p { 
  font-weight: 600;
}
.caveat-uniquifier {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}